cloudinary
diff-match-patch
dj-database-url
Django
django-anymail
django-cloudinary-storage
django-cors-headers
django-dbbackup
django-debug-toolbar
django-extensions
django-filter
django-import-export
django-summernote
django-taggit
django-templated-mail
django-unfold
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
drf-spectacular
gunicorn
pillow
psycopg[binary]
psycopg
psycopg-pool
python-dotenv
ruff
social-auth-app-django
social-auth-core
whitenoise
Werkzeug
