asgiref==3.8.1
Django==5.0.7
django-ckeditor==6.7.1
django-cors-headers==4.4.0
django-filter==24.2
django-js-asset==2.2.0
django-taggit==5.0.1
djangorestframework==3.15.2
drf-nested-routers==0.94.1
install==1.3.5
Markdown==3.6
pillow==10.3.0
python-dotenv==1.0.1
sqlparse==0.5.0
whitenoise==6.7.0
