{% extends 'base/_base.html' %}

{% block title %}{{ plant.name }}{% endblock %}

{% block content %}
<h1>{{ plant.name }}</h1>
<img src="{{ plant.image.image }}" class="img-fluid mb-3" alt="{{ plant.name }}">
<div class="card">
    <div class="card-body">
        <p><strong>Scientific Name:</strong> {{ plant.scientific_name }}</p>
        <p><strong>Family:</strong> {{ plant.family }}</p>
        <p><strong>Origin:</strong> {{ plant.origin }}</p>
        <p><strong>Description:</strong> {{ plant.description }}</p>
        <p><strong>Care Instructions:</strong> {{ plant.care_instructions }}</p>
        <p><strong>Light Requirements:</strong> {{ plant.light_requirements }}</p>
        <p><strong>Water Requirements:</strong> {{ plant.water_requirements }}</p>
        <p><strong>Temperature Range:</strong> {{ plant.temperature_range }}</p>
        <p><strong>Humidity:</strong> {{ plant.humidity }}</p>
        <p><strong>Soil Type:</strong> {{ plant.soil_type }}</p>
        <p><strong>Toxicity:</strong> {{ plant.toxicity }}</p>
    </div>
</div>
{% endblock %}